11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [7]:
from zoo import hours

hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [8]:
from zoo import hours as menagerie

menagerie()

Open 9-5 daily

16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
import sqlite3

connection = sqlite3.connect('book.db')
curs = connection.cursor()
curs.execute('''CREATE TABLE book
(title VARCHAR(50),
author VARCHAR(50),
year INT)''')

16.5 Read books2.csv and insert its data into the book table.

In [2]:
import csv

with open('books2.csv') as file:
    ins = 'INSERT INTO book (title, author, year) VALUES(?, ?, ?)'
    line = 0
    reader = csv.reader(file)
    for row in reader:
        line += 1
        if line != 1:
            title = row[0]
            author = row[1]
            year = row[2]
            curs.execute(ins, (title, author, year))
            connection.commit()

16.6 Select and print the title column from the book table in alphabetical order.

In [3]:
curs.execute('SELECT title FROM book ORDER BY title ASC')
curs.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [6]:
import sqlalchemy as sa

engine = sa.create_engine('sqlite:///book.db')
conn = engine.connect()
rows = conn.execute('SELECT title FROM book ORDER BY title ASC')
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)